@model Cascadingdropdownlist.Models.CascadingClass
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (ViewBag.countryList != null)
{
    @Html.DropDownListFor(m => m.cid, ViewBag.countryList as SelectList, "------select country name------", new { @class = "form-control" })

}
@Html.DropDownListFor(m => m.sid, new SelectList(""), "------select states------", new { @class = "form-control" })
@Html.DropDownListFor(m => m.cityid, new SelectList(""), "------select cities------", new { @class = "form-control" })
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#cid").change(function () {
            var countryId = $(this).val();
            debugger
            $.ajax({
                type: "post",
                url: "/Cas/GetStateList?cid=" + countryId,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#sid").empty();
                    $("#sid").append(response);
                }
            })
        })
        /*$(document).ready(function () {*/
            $("#sid").change(function () {
                var StateId = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/Cas/GetCityList?sid=" + StateId,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        $("#cityid").empty();
                        $("#cityid").append(response);
                    }
                })
            })
    })
</script>